<div class="phoneimg_form">
  <div class="phnimg">
    <img src="../assets/images/phone.png" alt="">
  </div>

  <div class="formsection">
    <div class="form-section1">
      <img id="iglogo" src="../assets/images/iglogo.png" alt="">
      
      <form #loginform="ngForm" (ngSubmit)="userlogin(loginform.value)">
        <input type="email" name="email" placeholder="Enter your username or email or phone no" ngModel>
        <input type="password" name="password" placeholder="Enter your password" ngModel>
        <input id="loginbtn" type="submit" value="Log in" ngModel>
      </form>
      <img src="../assets/images/or fcbk.png" alt="">
      <div class="bluetext">Forgot Password?</div>
    </div>
    <div class="form-section2">
      <p>Don't have an account?&nbsp;</p>
      <p style="color: #3da7f6; font-weight: 600;">Sign up</p>
    </div>
    <div class="form-section3">
      <p>Get the app</p>
      <img src="../assets/images/appleplaystroe.png" alt="">
    </div>
  </div>
</div>



<footer>
  <div>
    <p>Meta</p>
    <p>About</p>
    <P>Blog</P>
    <p>Jobs</p>
    <p>Help</p>
    <p>API</p>
    <p>Privacy</p>
    <p>Terms</p>
    <p>Top Accounts</p>
    <p>Hashtags</p>
    <p>Locations</p>
    <p>Instagram Lite</p>
    <p>Dance</p>
    <p>Food & Drink</p>
    <p>Home & Garden</p>
    <p>Music</p>
    <p>Visual Arts</p>
  </div>
  <div>
    <p>English ﹀</p>
    <p>© 2023 Instagram from Meta</p>
  </div>
</footer>